<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Student Registration Form</title>
      <style>
          .error {
              color: red;
          }
      </style>
  </head>
  <body>
        <h1>Student Registration Form</h1>
        <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
            <p>(*) Required fields</p>
            <label for="studentName">First name(*):</label>
            <input
                    type="text"
                    name="studentName"
                    id="studentName"
                    th:field="*{firstName}"
            />
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></span>
            <br/><br/>
            <label for="studentLastName">Last name(*):</label>
            <input
                    type="text"
                    name="studentLastName"
                    id="studentLastName"
                    th:field="*{lastName}"
            />
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
            <br/><br/>
            <label for="age">Age(*):</label>
            <input
                    type="text"
                    name="age"
                    id="age"
                    th:field="*{age}"
            />
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="error"></span>
            <br/><br/>
            <label for="country">Country:</label>
            <select name="country" id="country" th:field="*{country}">
                <option
                        th:each="tempCountry : ${countries}"
                        th:value="${tempCountry}"
                        th:text="${tempCountry}"
                >
                </option>
            </select>
            <br/><br/>
            <label for="postalCode">Postal Code:</label>
            <input
                    type="text"
                    name="postalCode"
                    id="postalCode"
                    th:field="*{postalCode}"
            />
            <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error"></span>
            <br/><br/>
            <label for="courseCode">Course Code:</label>
            <input
                    type="text"
                    name="courseCode"
                    id="courseCode"
                    th:field="*{courseCode}"
            />
            <span th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}" class="error"></span>
            <br/><br/>
            <label>Favorite programming language:</label>
            <input
                    type="radio"
                    th:field="*{favoriteLanguage}"
                    th:each="tempLanguage : ${languages}"
                    th:value="${tempLanguage}"
                    th:text="${tempLanguage}"
            />
            <br/><br/>
            <label>Favorite Operating Systems:</label>
            <input
                    type="checkbox"
                    th:field="*{favoriteSystems}"
                    th:each="tempSystem : ${systems}"
                    th:value="${tempSystem}"
                    th:text="${tempSystem}"
            />
            <br/><br/>
            <button type="submit">Submit</button>
        </form>
  </body>
</html>