<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Student Registration Form</title>
      <!--link rel="stylesheet" type="text/css" th:href="@{/css/helloworld.css}" /-->
  </head>
  <body>
        <h1>Student Registration Form</h1>
        <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
            <label for="studentName">First name:</label>
            <input type="text" name="studentName" id="studentName" th:field="*{firstName}"/>
            <br/><br/>
            <label for="studentLastName">Last name:</label>
            <input type="text" name="studentLastName" id="studentLastName" th:field="*{lastName}"/>
            <br/><br/>
            <label for="country">Country:</label>
            <select name="country" id="country" th:field="*{country}">
                <option
                        th:each="tempCountry : ${countries}"
                        th:value="${tempCountry}"
                        th:text="${tempCountry}"
                >
                </option>
            </select>
            <br/><br/>
            <label>Favorite programming language:</label>
            <input
                    type="radio"
                    th:field="*{favoriteLanguage}"
                    th:each="tempLanguage : ${languages}"
                    th:value="${tempLanguage}"
                    th:text="${tempLanguage}"
            />
            <br/><br/>
            <label>Favorite Operating Systems:</label>
            <input
                    type="checkbox"
                    th:field="*{favoriteSystems}"
                    th:each="tempSystem : ${systems}"
                    th:value="${tempSystem}"
                    th:text="${tempSystem}"
            />
            <br/><br/>
            <button type="submit">Submit</button>
        </form>
  </body>
</html>